body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    font-size: 0.9em;
    color: #202124;
}


.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    gap: 18px;
    margin-top: 10px;
    margin-right: 20px;
}

.google-header-links {
    display: flex;
    gap: 18px;
    flex: 0 0 100px;
}

.google-header-links a:link, 
.google-header-links a:visited {
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.google-header-links a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.google-header-apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex: 0 0 auto;
}

.header-img {
    width: auto;
    height: 35px;
    cursor: pointer;
}
.header-img:hover {
    box-shadow: 0 0 25px 0 #dcdcdc;
    border-radius: 50%;
    opacity: 0.8;
}

.header-sign {
    min-width: 60px;
    height: 35px;
    background: #1a73e8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 23px;
    cursor: pointer;
}

.header-sign:hover {
    opacity: 0.8;
    font-weight: 400px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.google-logo > img {
    align-self: center;
    height: auto;
    /* object-fit: contain;
    object-position: center bottom;
    filter: brightness(100%); */
    margin-bottom: 23px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 42px;
    border: 1px solid #dcdcdc;
    border-radius: 23px;
    margin-bottom: 22px;
}

.search-bar:hover{
    box-shadow: 0 0 15px 0 #dcdcdc;
}

.mag-glass {
    opacity: 0.7;
}
.voice-search {
    cursor: pointer;
}
.voice-search:hover {
    box-shadow: 0 0 0 0 transparent;
}

.search-bar > input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

.search-buttons > button {
    height: 35px;
    padding: 0 13px;
    font-size: 15px;
    color: #3c4043;
    border-radius: 3px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    cursor: pointer;
}

.search-buttons > button:hover {
    box-shadow: 0 0 7px 0 #d2d2d2;
}

.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}


.google-lang {
    font-size: small;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    flex-wrap: wrap;
    justify-content: center;
}


.google-lang > a {
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    text-decoration: none;
    color: none;
    
}
.google-lang a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.country {
    font-size: 15px;
    padding: 15px 30px;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    
}

.footer-options {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    /* padding: 30px 60px; */
    text-decoration: none;
    flex-wrap: wrap;    
}

.footer-options div a {
    text-decoration: none;
    color: #70757a;
}
.footer-options div a:hover {
    text-decoration: underline;
}

.footer-faqs {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-self: center;
    margin: 15px 30px;
    align-items: center;

}
.footer-terms {
    margin: 15px 20px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
}




@media only screen and (max-width: 700px) {
    .search-bar {
        width: 90vw;
    }
    .footer-options {
        justify-content: space-evenly;
    }
}

@media only screen and (max-height: 520px) {
    body {
        overflow-x: hidden;
    }
    footer {
        position:relative;
    }
}






